* {
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.cen {
  width: 200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: #ffe6bc;
  color: #000;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}
.cen:hover {
  background-color: #000;
  color: #ffe6bc;
}

body {
  margin: 0%;
  padding: 0%;
  height: 2000px;
}

.container {
  width: 90%;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  background-color: #ffe6bc;
  position: sticky;
  top: 0;
  z-index: 2000;
}
.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .container a h1 {
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 10px;
  background-color: #ffe6bc;
  color: #000;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}
.nav .container a h1:hover {
  background-color: #000;
  color: #ffe6bc;
}

@media (max-width: 450px) {
  .nav .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
    gap: 10px;
  }
}
.stage-1 {
  height: 60vh;
  background: url("../public/assets/images/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stage-1 .con {
  background-color: rgba(0, 0, 0, 0.4);
  color: #f7f1ea;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
}
.stage-1 .con a {
  padding: 20px;
  display: block;
  width: 250px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #ffe6bc;
  color: #000;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}
.stage-1 .con a:hover {
  background-color: #000;
  color: #ffe6bc;
}

@media (max-width: 950px) {
  .home .stage-1 {
    background-position: center;
  }
}
.stage-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.stage-2 .container h2 {
  text-align: center;
  width: 270px;
  padding: 10px 0px;
  border-radius: 20px;
  background-color: #ffe6bc;
  color: #000;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}
.stage-2 .container h2:hover {
  background-color: #000;
  color: #ffe6bc;
}
.stage-2 .container .flex {
  margin: 15px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.stage-2 .container .flex input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 85%;
          flex: 1 1 85%;
  border: 2px solid #ddd;
  height: 50px;
}
.stage-2 .container .flex input:focus {
  outline: 1px solid #ffe6bc;
}
.stage-2 .container .flex button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
  background-color: #ffe6bc;
  border: none;
  border: inset;
  border-radius: 3px;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
  transition: linear 0.4s;
}
.stage-2 .container .flex button:hover {
  background-color: #000;
  color: #ffe6bc;
}

.stage-3 {
  margin-top: 50px;
  padding-bottom: 60px;
  position: relative;
}
.stage-3 .slick-slide > div {
  margin: 0 10px;
}
.stage-3 .prev {
  background-color: #ffe6bc;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -50px;
  left: 50%;
  z-index: 100;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
}
.stage-3 .next {
  background-color: #ffe6bc;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -50px;
  left: 50%;
  z-index: 100;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}
.stage-3 .slick-slide .part {
  cursor: pointer;
  border-top: 1px solid red;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px;
  background-color: #ffe6bc;
}
.stage-3 .slick-slide .part img {
  width: 100px;
}
.stage-3 .slick-slide .part h2 {
  margin-bottom: 0;
}

.showen {
  padding-bottom: 50px;
  margin-top: 30px;
}
.showen > .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.showen > .container .box {
  border-radius: 10px;
  background-color: #ffe6bc;
  text-align: center;
  border: 2px solid #000;
  cursor: pointer;
}
.showen > .container .box img {
  width: 100%;
  border-radius: 10px;
}
.showen > .container .box .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.showen > .container .box .flex p {
  background-color: #f7f1ea;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  margin: 0%;
}
.showen > .container .box h1 {
  margin-top: 10px;
}
.showen > .container .box a {
  background-color: #f7f1ea;
  padding: 10px 15px;
  display: block;
  margin: 10px auto;
  width: 150px;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
}

@media (max-width: 420px) {
  .showen > .container {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
  .showen > .container .box h1 {
    font-size: 22px;
  }
}
.paginate {
  margin: auto;
  position: relative;
}
.paginate .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.paginate .container p {
  background-color: #ffe6bc;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  cursor: pointer;
  border-radius: 50%;
  font-weight: bold;
}