

$tra : linear 0.4s ;
$back-1 : #ffe6bc;
$back-2 : #000;
$text-Color : #f7f1ea ;


*{
    text-transform: capitalize;
    box-sizing: border-box;
}

@mixin Hover {
    transition: $tra;
    &:hover{
        background-color: $back-2;
        color: $back-1;
    }
} 

body{
    margin: 0%;
    padding: 0%;
    height: 2000px;
}

.container{
    width: 90%;
    margin: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

// Nav

.nav{
    background-color:$back-1;
    position: sticky;
    top: 0;
    .container{
        display: flex;
        justify-content:space-between;
        align-items: center;
        a{
            h1{
                padding: 10px 20px;
                margin:10px 0px;
                border-radius: 10px;
                background-color: $back-1;
                color:$back-2;
                @include Hover();
            }
        }
    }
}



@media (max-width : 450px){
    .nav{
        .container{
            flex-direction: column;
            padding-top: 10px;
            gap: 10px;
        }
    }
}



// Nav

// Stage-1



.stage-1{
    height: 60vh;
    background: url("../public/assets/images/home.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .con{
        background-color: rgba($color: #000000, $alpha: 0.4);
        color: $text-Color;
        text-align: center;
        padding: 15px;
        border-radius: 20px;
        a{
            padding: 20px;
            display: block;
            width: 250px;
            margin: auto;
            margin-top: 10px;
            border-radius: 10px;
            font-weight: bold;
            background-color: $back-1;
            color:$back-2;
            @include Hover();
        }
    }
}

@media (max-width : 950px){
    .home{
        .stage-1{
            background-position: center;
        }
    }
}


// Stage-1


// stage-2 


.stage-2{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            text-align: center;
            width: 270px;
            padding: 10px 0px;
            border-radius: 20px;
            background-color: $back-1;
            color:$back-2;
            @include Hover();
        }
        .flex{
            margin: 15px 0px;
            width: 100%;
            display: flex;
            input{
                flex: 1 1 85%;
                border: 2px solid #ddd;
                height: 50px;
            }
            button{
                flex: 1 1 15%;
                background-color: $back-1;
                border: none;
                border:  inset;
                border-radius: 3px;
                font-size: 24px;
                cursor: pointer;
                transition: $tra;
                @include Hover()
            }
        }
    }
}


// stage-2 